## Hipótese: Quantidade de fotos e tamanho da descrição afetam as compras dos produtos

In [1]:
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib

In [2]:
columns = {
    'product_photos_qty': 'photos_qty',
    'product_description_lenght': 'desc_length',
    'product_id': 'id'
}

raw_data = pd.read_csv("../datasets/olist.csv")
raw_data = raw_data[columns.keys()].rename(columns=columns)
unique_data = raw_data.drop_duplicates()

raw_data.head()

   photos_qty  desc_length                                id
0         4.0        268.0  87285b34884572647811a353c7ac498a
1         4.0        268.0  87285b34884572647811a353c7ac498a
2         4.0        268.0  87285b34884572647811a353c7ac498a
3         4.0        268.0  87285b34884572647811a353c7ac498a
4         1.0        178.0  595fac2a385ac33a80bd5114aec74eb8

In [3]:
sold = raw_data['id'].value_counts()
sold.head()

99a4788cb24856965c36a24e339b6058    470
aca2eb7d00ea1a7b8ebd4e68314663af    431
422879e10f46682990de24d770e7f83d    354
d1c427060a0f73f6b889a5c7c61f2ac4    323
389d119b48cf3043d311335e499d9c6b    311
Name: id, dtype: int64

## Itens vendidos por tamanho da descrição

In [4]:
desc_data = unique_data[['id', 'desc_length']]
desc_data = desc_data[desc_data['desc_length'].notnull()]

desc_data['sold'] = sold[desc_data['id']].values
desc_data = desc_data[['desc_length', 'sold']]
desc_data.head()

     desc_length  sold
0          268.0     4
4          178.0   100
47         503.0    28
89         285.0     1
106        232.0     3

In [5]:
desc_data.corr()['desc_length']['sold']

0.007639518389916083

## Itens vendidos por número de fotos

In [6]:
photo_data = unique_data[['id', 'photos_qty']]
photo_data = photo_data[photo_data['photos_qty'].notnull()]

photo_data['sold'] = sold[photo_data['id']].values
photo_data = photo_data[['photos_qty', 'sold']]
photo_data.head()

     photos_qty  sold
0           4.0     4
4           1.0   100
47          1.0    28
89          1.0     1
106         1.0     3

In [7]:
photo_data.corr()['photos_qty']['sold']

0.009126781349972088