In [80]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [11]:
more_than_once = pd.read_csv("../datasets/trusted/more_than_once.csv", index_col=0)
more_than_once.head()

,order_id,customer_unique_id,customer_city,customer_state,order_approved_at,order_purchase_timestamp,order_estimated_delivery_date,order_delivered_carrier_date,order_delivered_customer_date
0,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,2017-10-02 11:07:15,2017-10-02 10:56:33,2017-10-18 00:00:00,2017-10-04 19:55:00,2017-10-10 21:25:13
1,53cdb2fc8bc7dce0b6741e2150273451,af07308b275d755c9edb36a90c618231,barreiras,BA,2018-07-26 03:24:27,2018-07-24 20:41:37,2018-08-13 00:00:00,2018-07-26 14:31:00,2018-08-07 15:27:45
2,47770eb9100c2d0c44946d9cf07ec65d,3a653a41f6f9fc3d2a113cf8398680e8,vianopolis,GO,2018-08-08 08:55:23,2018-08-08 08:38:49,2018-09-04 00:00:00,2018-08-08 13:50:00,2018-08-17 18:06:29
3,949d5b44dbf5de918fe9c16f97b45f8a,7c142cf63193a1473d2e66489a9ae977,sao goncalo do amarante,RN,2017-11-18 19:45:59,2017-11-18 19:28:06,2017-12-15 00:00:00,2017-11-22 13:39:59,2017-12-02 00:28:42
4,ad21c59c0840e6cb83a9ceb5573f8159,72632f0f9dd73dfee390c9b22eb56dd6,santo andre,SP,2018-02-13 22:20:29,2018-02-13 21:18:39,2018-02-26 00:00:00,2018-02-14 19:46:34,2018-02-16 18:17:02

In [17]:
sold_products = pd.read_csv("../datasets/trusted/sold_products.csv", index_col=0)
sold_products.head()

,product_id,order_id,price,freight_value,order_purchase_timestamp,order_estimated_delivery_date,order_delivered_carrier_date,order_delivered_customer_date,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,4244733e06e7ecb4970a6e2683c13e61,00010242fe8c5a6d1ba2dd792cb16214,58.9,13.29,2017-09-13 08:59:02,2017-09-29 00:00:00,2017-09-19 18:34:16,2017-09-20 23:43:48,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
1,4244733e06e7ecb4970a6e2683c13e61,130898c0987d1801452a8ed92a670612,55.9,17.96,2017-06-28 11:52:20,2017-07-26 00:00:00,2017-07-05 12:00:33,2017-07-13 20:39:29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
2,4244733e06e7ecb4970a6e2683c13e61,532ed5e14e24ae1f0d735b91524b98b9,64.9,18.33,2018-05-18 10:25:53,2018-06-07 00:00:00,2018-05-23 14:05:00,2018-06-04 18:34:26,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
3,4244733e06e7ecb4970a6e2683c13e61,6f8c31653edb8c83e1a739408b5ff750,58.9,16.17,2017-08-01 18:38:42,2017-08-25 00:00:00,2017-08-02 19:07:36,2017-08-09 21:26:33,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
4,4244733e06e7ecb4970a6e2683c13e61,7d19f4ef4d04461989632411b7e588b9,58.9,13.29,2017-08-10 21:48:40,2017-09-01 00:00:00,2017-08-11 19:43:07,2017-08-24 20:04:21,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0

In [50]:
customers_history = pd.merge(
    more_than_once, sold_products, on='order_id'
).groupby(
    ['customer_unique_id', 'product_category_name']
).agg('count')['order_id'].reset_index()

customers_history.head()

                 customer_unique_id  product_category_name  order_id
0  00082cbe03e478190aadbea78542e933       malas_acessorios         1
1  0019e8c501c85848ac0966d45226fa1d          esporte_lazer         1
2  0023557a94bef0038066b5d1b3dc763e             automotivo         1
3  0032ca69771a7758ce643258bb9e4ac7            moveis_sala         1
4  0037eb1ff742ee2e71ba887f65f3c6f3  utilidades_domesticas         1

In [51]:
customers_category_count = customers_history.groupby(
    ['customer_unique_id']
).agg(['count'])['product_category_name']['count'].reset_index()
customers_category_count.head()

                 customer_unique_id  count
0  00082cbe03e478190aadbea78542e933      1
1  0019e8c501c85848ac0966d45226fa1d      1
2  0023557a94bef0038066b5d1b3dc763e      1
3  0032ca69771a7758ce643258bb9e4ac7      1
4  0037eb1ff742ee2e71ba887f65f3c6f3      1

In [56]:
more_than_one_cat = customers_category_count[customers_category_count['count'] > 1]['customer_unique_id']
more_than_one_cat.head()

17     012b41c1dae00a092474ca48dc764a00
57     04e9d0d712ca6da77124d0ee12be1d6a
58     04ecdc3e754a48294d832436960a3280
167    0e764fc1a13e47e900c3d59a989753e8
307    1b4df9eac3b620a7edbbd5e0ff34b7d4
Name: customer_unique_id, dtype: object

In [61]:
filtered_customers = customers_history[customers_history['customer_unique_id'].isin(more_than_one_cat)]
filtered_customers.head()

,customer_unique_id,product_category_name,order_id
17,012b41c1dae00a092474ca48dc764a00,construcao_ferramentas_iluminacao,1
18,012b41c1dae00a092474ca48dc764a00,moveis_decoracao,1
58,04e9d0d712ca6da77124d0ee12be1d6a,bebes,1
59,04e9d0d712ca6da77124d0ee12be1d6a,fashion_calcados,1
60,04ecdc3e754a48294d832436960a3280,cool_stuff,1

In [79]:
onehot = pd.DataFrame(
    columns=sold_products['product_category_name'].sort_values().unique(),
    index=filtered_customers['customer_unique_id'].unique()
).fillna(0)

for customer_id, category in filtered_customers[['customer_unique_id', 'product_category_name']].values:
    onehot.loc[customer_id, category] = 1

onehot.head()

,agro_industria_e_comercio,alimentos,alimentos_bebidas,artes,artes_e_artesanato,artigos_de_festas,artigos_de_natal,audio,automotivo,bebes,...,pet_shop,portateis_casa_forno_e_cafe,portateis_cozinha_e_preparadores_de_alimentos,relogios_presentes,seguros_e_servicos,sinalizacao_e_seguranca,tablets_impressao_imagem,telefonia,telefonia_fixa,utilidades_domesticas
012b41c1dae00a092474ca48dc764a00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
04e9d0d712ca6da77124d0ee12be1d6a,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
04ecdc3e754a48294d832436960a3280,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
0e764fc1a13e47e900c3d59a989753e8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1b4df9eac3b620a7edbbd5e0ff34b7d4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0